<div class="login">
	<form class='container'>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				
				<div class="panel panel-default">
					<div class="clearfix">
						<div class="panel-title col-md-12">
							<h1>Login</h1>
						</div>
					</div>
					<div class="panel-body">
						<div class="col-md-6">
							<input type="text" class='form-control' name="username" ng-model="vm.username" placeholder="john@gmail.com" />
						</div>
						<div class="col-md-6">
							<input type="text" class='form-control' name="password" ng-model="vm.password" placeholder="secret" />
						</div>
						<div ng-if='vm.invalid'>Username or Password is invalid</div>
					</div>
					<div class="clearfix">
						<button class="btn btn-success pull-right" name="login" ng-click="vm.login(vm.username, vm.password)">Submit</button>
					</div>
				</div>
				
			</div>
		</div>
		
	</form>
</div>