<div class="login">
<form>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Login</h3>
		</div>
		<div class="panel-body">
			<input type="text" name="username" ng-model="vm.username">
			<input type="text" name="password" ng-model="vm.password">
			<div ng-if='vm.invalid'>Username or Password is invalid</div>
		</div>
  		<div class="panel-footer">
			<button class="btn btn-success" name="login" ng-click="vm.login(vm.username, vm.password)">Submit</button>			
		</div>
	</div>
</form>
</div>