header a {
    text-decoration: none;
}

.md-button.md-icon-button {
  height: auto;
  width: auto;
}

button md-icon {
  height: auto;
  width: auto;
}

button.md-fab.md-button {
  box-shadow: none !important;
  background-color: rgb(63,81,181);
}