.header {
  header a {
      text-decoration: none;
  }
  
  .isLogin {
    font-size: 4em;
    font-weight: 100;
    line-height: 4em;
  }

  .md-toolbar-tools > div {
    margin-right: 30px;
    
    .brand {
      font-size: 1.25em;
      font-weight: 400;
    }
    
    .breadcrumb {
      font-size: .75em;
      font-weight: 100;
      margin-top: .5em 0;
    }
  }
}