.header {
    header a {
        text-decoration: none;
    }
    
    .isLogin {
		font-size: 4em;
		font-weight: 100;
		line-height: 4em;
    }
    
    header .brand {
        font-size: 1.5em;
        font-weight: 400;
    }
    
    header .breadcrumb {
        font-size: 1em;
        font-weight: 100;
    }
    
    .md-button.md-icon-button {
      height: auto;
      width: auto;
    }
    
    button md-icon {
      height: auto;
      width: auto;
    }
    
    .md-toolbar-tools > div {
      margin-right: 30px;
    }
}