<div class="header">
<header layout="row" layout-align="start center">
     <md-toolbar layout-padding>
      <div class="md-toolbar-tools">
        <div>
          <md-button class="md-icon-button" ng-click="vm.openLeftMenu()">
            <md-icon md-font-library="material-icons" class="md-36">menu</md-icon>
          </md-button>
        </div>
        <div layout="column">
          <div class="brand">
              <a href="/dashboard">ACME Inc</a>
          </div>
          <div class="breadcrumb">
              <span ng-bind="$state.current.data.pageTitle">page title</span>
          </div>
        </div>
        <span flex></span>
      </div>
    </md-toolbar>
    
    <md-fab-speed-dial class="md-fling md-fab-top-right" md-open="false">
      <md-fab-trigger>
        <md-button class="md-fab md-mini" aria-label="settings">
            <md-icon md-font-library="material-icons">more_vert</md-icon>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-button aria-label="Accounts" class="md-fab md-raised md-mini" ng-click="vm.route('accounts')">
            <md-icon md-font-library="material-icons" class="md-dark">person</md-icon>
        </md-button>
        <md-button aria-label="Claims" class="md-fab md-raised md-mini" ng-click="vm.route('claims')">
            <md-icon md-font-library="material-icons" class="md-dark">lock_outline</md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
</header>
</div>