	<div ng-class="$state.current.name === 'login' ? 'nav-button-login' : 'nav-button'" class="col-md-12">
		<a href="" class='nav-button-link'>
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-3x"></i>
		</a>
	</div>
	<div class="nav-sidebar">
		<ul>
			<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Analytics</a></li>
			<li><a href="#">Export</a></li>
		</ul>
		<ul>
			<li><a href="">Nav item</a></li>
			<li><a href="">Nav item again</a></li>
			<li><a href="">One more nav</a></li>
			<li><a href="">Another nav item</a></li>
			<li><a href="">More navigation</a></li>
		</ul>
		<ul>
			<li><a href="">Nav item again</a></li>
			<li><a href="">One more nav</a></li>
			<li><a href="">Another nav item</a></li>
		</ul>
	</div>