nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
		
	div.nav-button {
		line-height: 6em;
	}
	
	div.nav-button-login {
		display: none;
	}
	
	div.nav-sidebar {
		display: none;
		
		ul {
			margin-bottom: 1em;
			text-decoration: none;
		}
	}
}